
:root {
    --dark-blue: #222831;
    --light-blue: #31363F;
    --grey: hsl(219, 13%, 40%);
    --orange: #FF8225;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    background-color: var(--dark-blue); 
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 400px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.inputDiv {
    background-color: var(--light-blue);
    padding: 10px;

    display: flex;
    justify-content: space-between;
}
.inputDiv .numberInput{
    font-size: 4em;

    color: white;
    background-color: transparent;

    padding-left: 5px;
    width: 75%;
    border: none;
}
.inputDiv .deleteButton{
    margin-right: 10px;
}

.tasti {
    color: white;
    padding: 20px;
    grid-template-columns: auto auto auto auto;
    display: grid;

    gap: 10px;
}

.button { 
    font-size: 30px;
    font-weight: bold;
    
    color: white;
    background-color: var(--grey);

    height: 80px;
    width: 80px;

    border-radius: 50px;
    border: none;

    transition: .4s;
}
.button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.operationButton {
    background-color: var(--orange);
}

::selection {
    background-color: rgba(245, 245, 245, 0.247);
}
:focus {
    outline: none;
}